ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0; /* Hides newlines interpreted as whitespace */
}

li {
    margin-left: 2px;
    border: thin solid gray;
    display: inline-block;
    font-size: 16px;
}
