ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0; /* Hides newlines interpreted as whitespace */
}

li {
    padding-left: 2px;
    margin-left: 1px;
    margin-right: 3px;
    border: thin solid gray;
    display: inline-block;
    font-size: 16px;
}

.listContainer {
    width: 400px;
    overflow: hidden;
}
.maxSizeList {
    display: inline-block;

}
